body{
    font-family: 'PT Sans', sans-serif;
}

.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items:center;
    text-align: center;
    
    background-image: url("http://getwallpapers.com/wallpaper/full/a/d/8/175219.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    
    margin-bottom: 50px;
    
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0;
    
}

