body{
    font-family: 'PT Sans', sans-serif;
}


html {
    scroll-behavior: smooth;
  }




header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1;
  }
  
#header{
    margin-bottom: 25px;
}




#nav{
    z-index: 1;
    background-color: white;
    border-radius: 15px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 25%;
   
    position: absolute;
}

#myWorkWrapper{
    margin: 0 auto;
}

#myWork{
    margin-bottom: 24px;
}

.card{
    margin-bottom: 50px;
}

.hero2{
    width: 100vw;
    height: 35vh;
    display: flex;
    
    justify-content: center;
    align-items:center;
    text-align: center;
    
    background-image: url("../resources/artworkflipped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    
    margin-bottom: 50px;
    
}

#aboutMe{
    margin-bottom: 25px;
    font-size: 22px;
}

.hero3{
    width: 100vw;
    height: 35vh;
    display: flex;
    
    justify-content: center;
    align-items:center;
    text-align: center;
    
    background-image: url("../resources/artwork.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    
    
    
}

#react{
    margin-bottom:50px;
}

#cButton{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
