body{
    font-family: 'PT Sans', sans-serif;
}

.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items:center;
    text-align: center;
    
    background-image: url("../resources/artwork.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    
    margin-bottom: 50px;
    
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0;
    
}

#myWorkWrapper{
    margin: 0 auto;
}

#myWork{
    margin-bottom: 24px;
}

.card{
    margin-bottom: 50px;
}

.hero2{
    width: 100vw;
    height: 40vh;
    display: flex;
    
    justify-content: center;
    align-items:center;
    text-align: center;
    
    background-image: url("../resources/artworkflipped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    
    margin-bottom: 50px;
    
}

#aboutMe{
    margin-bottom: 25px;
}

.hero3{
    width: 100vw;
    height: 40vh;
    display: flex;
    
    justify-content: center;
    align-items:center;
    text-align: center;
    
    background-image: url("../resources/artwork.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    
    margin-bottom: 50px;
    
}

#react{
    margin-bottom:50px;
}